@charset "UTF-8";
body {
	font-size: 9pt;
	color: black;
	line-height: 160%;
}

td {
	font-size: 9pt;
	color: black;
	line-height: 160%;
}

select {
	font-size: 9pt;
	color: black;
	line-height: 160%;
}

div {
	font-size: 9pt;
	color: black;
	line-height: 160%;
}

.idcheck {
	width: 300px;
	height: 150px;
	margin: 0 auto;
	text-align: center;
}

form {
	font-size: 9pt;
	color: black;
	line-height: 160%;
}

textarea {
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	font-size: 9pt;
	border-left: 1px solid #999999;
	color: black;
	border-bottom: 1px solid #999999;
	background-color: white;
}

input {
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	font-size: 9pt;
	border-left: 1px solid #999999;
	color: black;
	border-bottom: 1px solid #999999;
	background-color: white;
}

a:link {
	text-decoration: none;
	color: #696969;
}

a:hover {
	text-decoration: yes;
	color: #66CCFF;
}

a:visited {
	text-decoration: none;
	color: #330066;
}

