<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>myWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Connection Pool -->
  <!--
  	- 톰캣에게 Connection Pool 설정을 알려준다.
    description : 설명
    res-ref-name : JDBC 이름, <Resource>의 name 부분과 동일하게 입력
    res-type : <Resource>의 type 부분과 동일하게 입력
    res-auth : <Resource>의 auth 부분과 동일하게 입력
  -->
  <resource-ref>
  	<description>ConnectionPool</description>
  	<res-ref-name>jdbc/myOracle</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
  <!-- DD = web.xml = 배포서술자 -->
  <!-- ServletContext에 이름/값 형식으로 초기값 저장 -->
  <context-param>
  	<param-name>company</param-name>
  	<param-value>KG Eduone IT Bank</param-value>
  </context-param>
  <context-param>
  	<param-name>manager</param-name>
  	<param-value>Tommy. Lee</param-value>
  </context-param>
  
  <!-- 여기도 기본으로 컨텍스트 루트까지 잡아주는듯 하다. -->
  <servlet>
	<servlet-name>MyOne</servlet-name>
	<servlet-class>sample.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>MyOne</servlet-name>
	<url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>LifeCycle</servlet-name>
	<servlet-class>sample.LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>LifeCycle</servlet-name>
	<url-pattern>/LifeCycle</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>InitParam</servlet-name>
	<servlet-class>sample.InitParam</servlet-class>
	<!-- ServletConfig에 이름/값 형식으로 초기값 저장 -->
	<init-param>
		<param-name>tel</param-name>
		<param-value>010-9531-0114</param-value>
	</init-param>
	<init-param>
		<param-name>email</param-name>
		<param-value>stdio@hanmail.net</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
	<servlet-name>InitParam</servlet-name>
	<url-pattern>/InitParam</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>VisitList</servlet-name>
	<servlet-class>bbs.VisitList</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>VisitList</servlet-name>
	<url-pattern>/VisitList</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>VisitInsert</servlet-name>
	<servlet-class>bbs.VisitInsert</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>VisitInsert</servlet-name>
	<url-pattern>/VisitInsert</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>Login</servlet-name>
	<servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>Login</servlet-name>
	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>LoginCheck</servlet-name>
	<servlet-class>login.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>LoginCheck</servlet-name>
	<url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>Logout</servlet-name>
	<servlet-class>login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>Logout</servlet-name>
	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error404.jsp</location>
  </error-page>
  <!-- 
  - 먼저 선언된 에러코드의 우선순위가 더 높다
  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/error/errorNullPointer.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/error500.jsp</location>
  </error-page> 
  -->
  
  <jsp-config>
  	<taglib>
  		<taglib-uri>/WEB-INF/tlds/el-functions.tld</taglib-uri>
  		<taglib-location>/WEB-INF/tlds/el-functions.tld</taglib-location>
  	</taglib>
  </jsp-config>
</web-app>